.padre{

    width: 80%;
    height: 60vh;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}

.son{
    width:80px;
    height:60px;
    border: 3px solid black;
   
}

.hijo1{
    background-color: red;
}

.hijo2{
    background-color: aqua;
}

.son3{
    background-color: brown;
}